:root {
    --user-bg: #EAEAEA;
    --message-bg: #D5F8BC;
    --chat-input: #F3EEEA;
    --notification-bg: #95DAFA;
    --text-grey: #B1B1B1;
}

ul, ol, menu {
    list-style: none;
}

img{
    width: 45px;
    border-radius: 20px;
}

.container{
    max-width: 1900px;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid lightgray;
}

/* GENERAL */

.grey_text{
    color: var(--text-grey);
}

.last_login{
    font-size: 0.9rem;
}

/* BACKGROUND */

.profile_user{
    background-color: var(--user-bg);
}

.main_chat{
    background-image: url(../assets/mine.jpg);
}

.chat_input{
    background-color: var(--chat-input);
}

.notifiche{
    background-color: var(--notification-bg);
}



/************
    ASIDE
*************/

/* Abilita notifiche */

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.circle i{
    position: absolute;
    left: 25px;
    top: 25px;
    transform: translate(-50%, -50%);
}

/* Chat list */

.contact{
    border-top: 1px solid var(--chat-input);
}

.contact:hover{
    background-color: var(--user-bg);
    cursor: pointer;
}

.contact_time{
    font-size: 0.82rem;
}



/************
    MAIN
*************/

/* Chat syle */

.main_chat{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.message_size{
    width: 200px;
}

.chat_list span{
    margin-top: 35px;
    padding: 15px;
    border-radius: 20px;
    line-height: 70px;
}

.chat_size{
    height: 100%;
}

.sent, .received{
    width: 300px;
    padding: 0.6rem;
    border-radius: 1rem;
}

.received{
    background-color: white;
}

.sent{
    background-color: var(--message-bg);
    align-self: flex-end;
}

.message_date{
    font-size: 0.55rem;
}