<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/dayjs@1.8.20/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.20/plugin/customParseFormat.js"></script>
    <title>Boolzapp</title>
</head>

<body>
    <div class="green_bar"></div>
    <div id="app">
        <div class="row p-0 container">


            <!-- SIDEBAR -->


            <aside class="col-4">
                <div class="row">

                    <!-- PROFILE UTENTE PROPRIETARIO -->

                    <div class="d-flex justify-content-between align-items-center user_menu profile_user p-3">
                        <div>
                            <img src="./assets/avatar_io.jpg" alt="">
                            <span class="px-2">Sofia</span>
                        </div>
                        <div class="d-flex gap-3 grey_text">
                            <i class="fa-regular fa-circle"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    
                    <!-- RICHIESTA ATTIVAZIONE NOTIFICHE -->

                    <div class="d-flex p-3 notifiche">
                        <div class="p-3 bg-white circle"><i class="fa-solid fa-bell-slash"></i></div>
                        <div class="row px-3">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a href="#" class="text-decoration-underline fs-6 grey_text">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- RICERCA UTENTE CHAT -->

                    <div class="input-group p-2">
                        <span class="input-group-text px-4 bg-white grey_text" id="basic-addon1"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                        <input v-model="contactName" @keyup="findContact(contactName)" type="text" class="form-control" placeholder="Cerca o inizia una nuova chat"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <!-- LISTA CHAT -->

                    <div class="border-top p-0">
                        <ul class="p-0">
                            <template v-for="(contact, i) in contacts">
                                <li v-if="contact.visible" @click="selectContact(i)" class="d-flex justify-content-between p-3 contact">
                                    <div class="d-flex">
                                        <img :src="contact.avatar" alt="">
                                        <div class="row px-3">
                                            <span>{{contact.name}}</span>
                                            <span class="grey_text last_login">{{getLastMessage(contact.messages)}}</span>
                                        </div>
                                    </div>
                                    <span class="contact_time grey_text">{{getHour(getDate(contact.messages))}}</span>
                                </li>
                            </template>
                        </ul>
                    </div>

                </div>
            </aside>


            <!-- MAIN -->


            
            <main class="col-8 p-0">

                <!-- INFORMAZIONI CHAT SELEZIONATA -->

                <div class="d-flex flex-column main_chat p-0 chat_size">
                    <div class="border-start p-0">
                        <div class="d-flex justify-content-between user_menu profile_user p-3">
                            <div class="d-flex">
                                <img :src="contacts[active].avatar" alt="">
                                <div class="row px-3">
                                    <span>{{contacts[active].name}}</span>
                                    <span class="grey_text last_login lh-1 contact_time">Ultimo accesso {{getDate(contacts[active].messages)}}</span> 
                                </div>
                            </div>
                            <div class="d-flex gap-3 grey_text align-items-center">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>

                    <!-- MESSAGGI CHAT -->

                    <div class="main_chat px-5 flex-grow-1">
                        <div v-for="el in getMessages" :class="el.status">{{el.message}}<span class="message_date">{{getHour(el.date)}}</span></div>
                    </div>

                    <!-- CHAT INPUT -->

                    <div class="d-flex justify-content-between chat_input align-items-center py-4">
                        <i class="fa-solid fa-face-smile px-4 grey_text"></i>
                        <input v-model="newMessage" @keyup.enter="sendMessage" class="flex-grow-1 border-0 lh-lg rounded-3" type="text" name="" id="">
                        <i class="fa-solid fa-microphone px-4 grey_text"></i>
                    </div>
                </div>
            </main>
            
        </div>
    </div>
    <script src="./js/app.js"></script>
</body>

</html>